*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.container1{
    justify-content: center;
}
body { 
    background: #1c2331;
    background-image: url("img/circitimg.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    background-color: rgba(255, 255, 255, .2);
    background-position: top;
}
h1{
    text-align: center;
    font-size: 36px;
}
h2{
    text-align: center;
}
.paragraphs{
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 620px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}
.paragraphs2{
    font-family: "Poppins", sans-serif;
    text-align: left;
    width: 620px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 40px 30px;
}

/*Nav Bar Css */
.navbar ul{
    list-style-type: none;
    overflow: visible;
}
.navbar a{
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.navbar li{
    float: left;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}
.navbar{
    transition: transform 0.3s;
}

.bx:hover{
    transform: translateY(-5px);
}
.nav-item:hover{
    transform: translateY(-5px);
}

/*Carousel Css*/
@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.pictures{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.pictures:before,
.pictures:after{
    position: absolute;
    top: 0;
    width: 75px;
    height: 100%;
    content: "";
    z-index: 2;
}
.pictures:before{
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255, 0), rgba(1, 17, 40));
}
.pictures:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255, 0), rgba(1, 17, 40));
}
.pictures:hover .pictures-slides{
    animation-play-state: paused;
}
.pictures-slides{
    display: inline-block;
    animation: 35s slide infinite linear;
}
.pictures-slides img{
    height: 300px;
}

/*Picutre Css*/
@keyframes slideInRight{
    from {
        transform: translateX(300px)
    }

    to {
        transform: translateX(0);
    }
}

.pic{
    object-fit: cover;
    width: 300px;
    height: auto;
    float: right;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

/*Email Form Css*/
.contact h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.contact form {
    width: 600px;
    text-align: center;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

.input-box .input-field {
    width: 48.5%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(255, 255, 255);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: none;
}

/*Matching game style*/
.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
}

.grid-container {
  height: 680px;
  display: grid;
  justify-content: center;
  grid-gap: 25px;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card {
  height: calc(140px / 2 * 3);
  width: 140px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 60px;
  height: 60px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='25' height='25' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M25 30a5 5 0 110-10 5 5 0 010 10zm0-25a5 5 0 110-10 5 5 0 010 10zM0 30a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm12.5 12.5a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(174, 100%, 29%, 1)'/><path d='M0 15a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm25 0a2.5 2.5 0 110-5 2.5 2.5 0 010 5zM12.5 2.5a2.5 2.5 0 110-5 2.5 2.5 0 010 5zm0 25a2.5 2.5 0 110-5 2.5 2.5 0 010 5z'  stroke-width='1' stroke='none' fill='hsla(187, 100%, 42%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}